# Project
/dist/

# Node
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs

## Results
npm-debug.log
yarn-debug.log*
yarn-error.log*
/node_modules/

## System Files
.DS_Store
Thumbs.db

# Sass
.sass-cache/
