@import '../../assets/styles/mixins/container';
@import '../../assets/styles/mixins/titles';
@import '../articles-list/articles-list';

.page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  &__container {
    @include container;
  }

  &__title {
    @include h1;

    display: inline-block;
  }
}
